<h2>Países</h2>
<hr>

<ul class="list-group">

  <!-- <li routerLink="home"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  class="li-group-item">
    Home Page
  </li>

  <li routerLink="about"
  routerLinkActive="active"
  class="li-group-item">
    About Page
  </li>

  <li routerLink="contact"
  routerLinkActive="active"
  class="li-group-item">
    Contact Page
  </li> -->

  <li routerLink="countries/by-capital"
  routerLinkActive="active"
  class="li-group-item">
    Por Capital
  </li>

  <li routerLink="countries/by-country"
  routerLinkActive="active"
  class="li-group-item">
    Por País
  </li>

  <li routerLink="countries/by-region"
  routerLinkActive="active"
  class="li-group-item">
    Por Región
  </li>

</ul>
